:root {
  --color-note: var(--color-blue);
  --color-tip: #7ecebf;
  --color-warning: var(--color-yellow);
  --color-severe: #ff7002;
  --color-caution: #ce7e7e;
  --color-important: var(--color-purple);
  --color-important-bg: #7e7ece20;
}

.markdown-alert.markdown-alert-important {
  background-color: var(--color-important-bg);
}