@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-yellow: #ffbf00;
  --color-sand: #fdf6e3;
  --color-purple: #6c71c4;
}

@layer base {
  @font-face {
    font-family: 'LXGWMarkerGothic';
    src: url('/LXGWMarkerGothic-Regular.ttf');
  }
}


body {
  font-size: 14px;
  color: #000;
}