@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-yellow: #cea67e;
  --color-purple-opacity: #6464b555;
  --color-purple-opacity-light: #6464b520;
  --color-purple: #6464b5;
  --color-purple-light: #7e7ece;
  --color-blue: #6494b5;
  --color-blue-light: #7eadce;
  --color-severe: #ff7002;
  --color-red: #cc8787;
  --color-cyan: #7ecebf;
  --color-gray: #8882;

  --color-bg: #f8f8f4;
  --color-text: #000;
}

.dark {
  --color-bg: #171717;
  --color-text: #d1cdc2;
}

::selection {
  background-color: #6494b550;
}

@layer base {
  @font-face {
    font-family: "LXGWMarkerGothic";
    src: url("/LXGWMarkerGothic-Regular.ttf");
  }
}

html,
body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.animate-wave {
  animation: wave 1s infinite;
  display: inline-block;
}
