@utility link {
  text-underline-offset: 3px;
  text-decoration-color: #8886;
  transition: all 0.2s ease;
  cursor: pointer;

  &::after {
    content: "⤤";
    margin-left: 2px;
    font-weight: bold;
    transition: all 0.2s ease;
    color: #8888;
  }

  &:hover {
    @apply text-primary underline;
    text-decoration-color: var(--color-primary);

    &::after {
      color: var(--color-primary);
    }
  }
}


.prose {

  a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
    @apply link;
  }

  strong {
    @apply text-rose-400 dark:text-rose-500 px-1;
  }

}