:root {
  --color-blue: #477BA8;
  --color-green: #287743;
  --color-magenta: #7955A7;
  --color-orange: #A87852;
  --color-red: #b9475a;
  --color-cyan: #40A8A6;

  --color-note-bg: #477BA820;
  --color-tip-bg: #28774320;
  --color-important-bg: #7955A720;
  --color-warning-bg: #A8785220;
  --color-severe-bg: #b9475a20;
  --color-caution-bg: #40A8A620;

  --color-grid: #56905610;

  --color-note: var(--color-blue);
  --color-tip: var(--color-cyan);
  --color-warning: var(--color-orange);
  --color-severe: var(--color-red);
  --color-caution: var(--color-magenta);
  --color-important: var(--color-green);

  --color-gray: #8882;
  --color-bg: #fcfcff;
  --color-text: #000;
  --color-code-bg: #eeeeee;

  --scrollbar-track: var(--color-bg);
  --scrollbar-thumb: #c1c1c1;
  --scrollbar-thumb-hover: #a8a8a8;
}

.dark {
  --color-blue: #94b5c0;
  --color-cyan: #6eb4b4;
  --color-green: #8ebf9d;
  --color-magenta: #9d94bf;
  --color-orange: #bf9d94;
  --color-red: #cc8787;

  --color-important-bg: #94b5c020;
  --color-note-bg: #6eb4b420;
  --color-tip-bg: #8ebf9d20;
  --color-warning-bg: #bf9d9420;
  --color-severe-bg: #9d94bf20;
  --color-caution-bg: #cc878720;

  --color-grid: #8ebf9d10;

  --color-bg: #313335;
  --color-text: #d1cdc2;
  --color-code-bg: #222222;

  --scrollbar-track: var(--color-bg);
  --scrollbar-thumb: #555;
  --scrollbar-thumb-hover: #666;
}